body {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 100%; 
    margin: 0;
    padding: 30px;
    background-color: black;
    color: #00ff00;
    font-family: 'Press Start 2P', monospace;
    overflow-y: auto; 
}

.bottom-div {
    position: fixed; /* Keeps the div at the bottom of the viewport */
    bottom: 0; /* Align to the bottom of the viewport */
    left: 0; /* Align to the left edge */
    width: 100%; /* Take the full width of the viewport */
    background-color: black; /* Match the body background */
    text-align: center; /* Center-align the text horizontally */
    display: flex; /* Enable flexbox for alignment */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically within the div */
    margin-top: 5rem;
}

h1 {
    font-size: 2.5rem;
    margin: 1rem;
    font-family: "Faster One", system-ui;
}

h2 {
    font-size: 0.7rem;
    margin: 1rem;
    line-height: 1.5;
}

h4 {
    font-size: 0.7rem;
    line-height: 1.5;
    text-decoration: underline;
}

p {
    font-size: 0.7rem;
    line-height: 1.5;
    max-width: 600px;
}

a {
    color: #FFD700;
    text-decoration: none;
    font-size: 0.8rem;
    border: 2px solid #FFD700;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

a:hover {
    background-color: #FFD700;
    color: black;
}

footer {
    margin-top: 2rem;
    font-size: 0.6rem;
    line-height: 1.5;
    color: #808080;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0.3rem;
}

/* Blinking cursor styles */
.cursor {
    display: inline-block;
    width: 5px;
    height: 1em;
    background-color: #00ff00;
    animation: blink 0.6s step-end infinite;
    vertical-align: bottom;
}

.donate-action {
    font-size: 0.5rem;
    max-width: 400px;
}

.tip-of-the-day {
    text-align: left !important;
}

@keyframes blink {
    from, to {
        background-color: transparent;
    }
    50% {
        background-color: #00ff00;
    }
}

/* Styles for mobile screens */
@media (max-width: 768px) {
    a {
        font-size: 0.6rem;
        margin-bottom: 1.3rem;
    }

    .upper {
        margin-bottom: 10rem;
    }
}

@supports (-webkit-touch-callout: none) {
    body {
        min-height: -webkit-fill-available; /* Safari-specific fix for viewport height */
    }
}